services:
  homeassistant:
    container_name: homeassistant
    image: "ghcr.io/home-assistant/home-assistant:stable"
    volumes:
      - ./config:/config
      - ./media:/media:rw
      - /etc/localtime:/etc/localtime:ro
    restart: unless-stopped
    privileged: true
#    ports:
#      - "8123:8123"
    network_mode: host
    devices:
      - /dev/ttyUSB0:/dev/ttyUSB0
      - /dev/ttyACM0:/dev/ttyACM0
      - /dev/hidraw0:/dev/hidraw0
      - /dev/hidraw1:/dev/hidraw1

  influxdb:
    image: influxdb:2.7-alpine
    env_file:
      - .env
    volumes:
      - ./influxdb2-config:/etc/influxdb2:rw
      - ./influxdb2-data:/var/lib/influxdb2:rw
      - /etc/localtime:/etc/localtime:ro
#    ports:
#      - "8086:8086"
    restart: unless-stopped
    network_mode: host
