
# Loads default set of integrations. Do not remove.
default_config:

http:
  server_port: 8089

# Load frontend themes from the themes folder
frontend:
  themes: !include_dir_merge_named themes

# Text to speech
tts:
  - platform: google_translate

automation: !include automations.yaml
script: !include scripts.yaml
scene: !include scenes.yaml

influxdb:
  api_version: 2
  ssl: false
  host: 127.0.0.1
  port: 8086
  bucket: ha
  token: ReplaceMeWithToken
  organization: ReplaceMeWithYourOrganizationName
  precision: ms
  tags:
    source: HA
  tags_attributes:
    - friendly_name
  default_measurement: units
